<nav class="invis-home" role="navigation">
  <!-- <div class="brand">
    burning van industries
  </div> -->
  <div class="logo">
    <%= image_tag 'flame_logo.svg', class: 'logo-brand' %>
  </div>
  <div class="actions">
    <a href='#work'>work</a>
    <a id="skills-link" href='#' data-toggle='modal' data-target='#skills'>skills</a>
    <a href='#store'></a>
  </div>
  <div class="greeting">
    <div class="header">
      Hi, I'm Jared
    </div>
    <div class="caption">
      A full-stack web developer
    </div>
  </div>
  <%= image_tag 'mtn-2.svg', class: 'hero-mtn' %>

</nav>
